doctype html
html
    head
        title Log Dog
        script(src='static/js/jquery.js')
        script(src='static/js/app.js')
        link(href='static/css/logdog.css', rel='stylesheet')

    body
        header Log Dog
        .container
            table
                tbody
                    tr(class='header')
                        td(class='sl') #
                        td(class='level') Level
                        td(class='tag') Tag
                        td(class='message') Message

        #log
            table           
        
